<?xml version="1.0"?>
<config>
	<modules>
		<Gokeep_Tracking>
			<version>0.0.1</version>
		</Gokeep_Tracking>
	</modules>
	<global>
		<blocks>
			<gokeep>
				<class>Gokeep_Tracking_Block</class>
			</gokeep>
		</blocks>
		<helpers>
            <gokeep>
                <class>Gokeep_Tracking_Helper</class>
            </gokeep>
        </helpers>
        <models>
        	<gokeep>
        		<class>Gokeep_Tracking_Model</class>
        	</gokeep>
        </models>
	</global>
	<frontend>
		<layout>
			<updates>
				<gokeep_tracking>
					<file>gokeep/tracking.xml</file>
				</gokeep_tracking>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_checkout_cart_add>
				<observers>
					<gokeep_cart_add>
						<class>gokeep/observer</class>
						<method>addToCart</method>
					</gokeep_cart_add>
				</observers>
			</controller_action_predispatch_checkout_cart_add>
			<controller_action_predispatch_checkout_cart_delete>
				<observers>
					<gokeep_cart_delete>
						<class>gokeep/observer</class>
						<method>deleteFromCart</method>
					</gokeep_cart_delete>
				</observers>
			</controller_action_predispatch_checkout_cart_delete>
			<checkout_cart_update_items_after>
				<observers>
					<gokeep_cart_update>
						<class>gokeep/observer</class>
						<method>updateCart</method>
					</gokeep_cart_update>
				</observers>
			</checkout_cart_update_items_after>
			<checkout_onepage_controller_success_action>
				<observers>
					<gokeep_order_success>
						<class>gokeep/observer</class>
						<method>orderSuccess</method>
					</gokeep_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
				<observers>
					<gokeep_order_success>
						<class>gokeep/observer</class>
						<method>orderSuccess</method>
					</gokeep_order_success>
				</observers>
			</checkout_multishipping_controller_success_action>
			<customer_register_success>
				<observers>
					<gokeep_lead_login_register>
						<class>gokeep/observer</class>
						<method>setLeadLoginRegister</method>
					</gokeep_lead_login_register>
				</observers>
			</customer_register_success>
			<customer_login>
				<observers>
					<gokeep_lead_login_register>
						<class>gokeep/observer</class>
						<method>setLeadLoginRegister</method>
					</gokeep_lead_login_register>
				</observers>
			</customer_login>
			<controller_action_predispatch_checkout_onepage_saveBilling>
				<observers>
					<gokeep_lead_register_billing>
						<class>gokeep/observer</class>
						<method>setLeadRegisterBilling</method>
					</gokeep_lead_register_billing>
				</observers>
			</controller_action_predispatch_checkout_onepage_saveBilling>
			<newsletter_subscriber_save_commit_after>
				<observers>
					<gokeep_subscriber_success>
						<class>gokeep/observer</class>
						<method>setSubscriber</method>
					</gokeep_subscriber_success>
				</observers>
			</newsletter_subscriber_save_commit_after>
		</events>
	</frontend>
</config>
