<?xml version="1.0"?>
<config>
	<modules>
		<Gokeep_Tracking>
			<version>0.0.1</version>
		</Gokeep_Tracking>
	</modules>
	<global>
		<blocks>
			<gokeep>
				<class>Gokeep_Tracking_Block</class>
			</gokeep>
		</blocks>
		<helpers>
            <gokeep>
                <class>Gokeep_Tracking_Helper</class>
            </gokeep>
        </helpers>
        <models>
        	<gokeep>
        		<class>Gokeep_Tracking_Model</class>
        	</gokeep>
        </models>
	</global>
	<frontend>
		<layout>
			<updates>
				<gokeep_tracking>
					<file>gokeep/tracking.xml</file>
				</gokeep_tracking>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_checkout_cart_add>
				<observers>
					<gokeep_cart_add>
						<class>gokeep/observer</class>
						<method>addToCart</method>
					</gokeep_cart_add>
				</observers>
			</controller_action_predispatch_checkout_cart_add>
			<controller_action_predispatch_checkout_cart_delete>
				<observers>
					<gokeep_cart_delete>
						<class>gokeep/observer</class>
						<method>deleteFromCart</method>
					</gokeep_cart_delete>
				</observers> <!--checkout_cart_update_items_-->
			</controller_action_predispatch_checkout_cart_delete>
			<checkout_cart_update_items_after>
				<observers>
					<gokeep_cart_update>
						<class>gokeep/observer</class>
						<method>updateCart</method>
					</gokeep_cart_update>
				</observers>
			</checkout_cart_update_items_after>
		</events>
	</frontend>
</config>
